/* You can add global styles to this file, and also import other style files */

.cursorPointer {
    cursor: pointer;
}


.inputLight {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 8px rgba(198, 212, 235, 0.16) !important;
    border-radius: 8px !important;
}

.inputLightBox {
    background: #FFFFFF !important;
    box-shadow: 0px 4px 8px rgba(198, 212, 235, 0.16) !important;
    border-radius: 8px !important;
}